.Toastify__toast--error {
    border: none !important;
    background: #d32f2f !important;
}

.Toastify__toast--success {
    border: none !important;
    background: #43a047 !important;
}

.Toastify__toast--warning {
    border: none !important;
    background: #ff9800 !important;
}

.Toastify__toast--info {
    border: none !important;
    background: #2196f3 !important;
}

.toast-container {
    font-size: 13px;
    min-width: 300px !important;
}
